<div class="row">
  <div class="col-xl-12">
    <div class="main-wrapper">
      <div class="text-left pt-5 mb-20">
        <h1>Meine Zahlungen</h1>

        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>+/-</th>
            <td mat-cell *matCellDef="let payment">{{ payment.type }}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Betrag</th>
            <td mat-cell *matCellDef="let payment" class="text-right">{{ payment.amount }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Beschreibung</th>
            <td mat-cell *matCellDef="let payment" class="text-right">{{ payment.description}}</td>
          </ng-container>

          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>Kommentar</th>
            <td mat-cell *matCellDef="let payment" class="text-right">{{ payment.comment}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<button mat-fab color="primary" class="fab-bottom-right" aria-label="Zahlung hinzufügen" (click)="fabAddClick()">
  <fa-icon [icon]="faPlus"></fa-icon>
</button>
