table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: 8px 8px 8px 0;
}

.test{
  display:inline
}

.add{
  color: #064d6e;
  border-color: #064d6e;
}
.add:hover {
  color: #fff;
  background-color: #064d6e;
  border-color: #064d6e;
}