table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: 8px 8px 8px 0;
}

.mat-column-type {
  width: 80px;
}

.mat-column-amount {
  width: 100px;
}

.type-out {
  color: red;
}

.type-in {
  color: limegreen;
}

.add {
  color: #064d6e;
  border-color: #064d6e;
}

.add:hover {
  color: #fff;
  background-color: #064d6e;
  border-color: #064d6e;
}
