div{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
}

.widget {
    top: 43px;
    padding: 15px;
    position: absolute;
    margin-top: 80px;
    margin-left: 844px;
}

@media (max-width: 800px){
    .widget{
    
    margin-left: auto ;
    margin-right: auto;
    display: block;
    margin-top: 760px;  
  
       
    }
}