
 
        <div class="row">
            <div class="col-xl-12">
                <div class="main-wrapper">
                    <div class="text-center pt-5 mb-20">
                        <h2 class="">Passwort zurücksetzen</h2>
                    </div>
                    <div *ngIf="isVerified && tokenError == null">
                        <form [formGroup]="formData" class="needs-validation" (submit)="submitForm()">
                            <div class="form-area pt-3">
                                <div class="input-group mb-3">
                                    <mat-form-field fxFlex="100">
                                        <mat-label>
                                            Passwort
                                        </mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                        <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="formData.controls.password.status === 'INVALID'">Passwort muss 8
                                            Zeichen haben, aus Groß-, Kleinbuchstaben, Zahlen und Sonderzeichen bestehen
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="input-group mb-3">
                                    <mat-form-field fxFlex="100">
                                        <mat-label>
                                            Passwort wiederholen
                                        </mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirm_password"
                                            required>
                                        <button mat-icon-button type="button" matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="formData.controls.confirm_password.status === 'INVALID'">Passwort muss
                                            wiederholt werden</mat-error>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="passwordErr != null" class="alert alert-danger" role="alert">{{passwordErr}}
                                </div>
                                <button type="submit" class="btn btn-secondary btn-block">Senden</button>
                                <br>
                                <div style="text-align: center">
                                    <a class="text-center pt-3" style="font-size:1.2em;" [routerLink]="''">Zurück zum
                                        Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="!isVerified">
                        <h5 style="text-align: center">Dein Link ist abgelaufen. Fordere einen neuen an:</h5>
                        <br>
                        <div style="text-align: center">
                            <a class="text-center pt-3" style="font-size:1.2em;" [routerLink]="'/forgotpw'">Passwort erneuern</a>
                        </div>
                    </div>
                    <div *ngIf="tokenError != null">
                        <h5 style="text-align: center">{{tokenError}}</h5>
                        <br>
                        <div style="text-align: center">
                            <a class="text-center pt-3" style="font-size:1.2em;" [routerLink]="'/forgotpw'">Passwort erneuern</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


