
    <h1> <b> dein Währungs Rechner</b></h1>

<div class= "convert">
    <div>
        <input type="number">
        <select>
            <!-- <option value="currency">currency</option> -->
        </select>
    </div>
    <br />
    <div class= "entspricht"> <b>entspricht</b> </div>
    <br />
    <br />
    <div>
        <input type="number">
        <select>
            <!-- <option value="currency">currency</option> -->
        </select>
    </div>
</div>
    <br />
       <br />

<app-tickers></app-tickers>
<app-currency-tickerst></app-currency-tickerst>