
.convert{
    padding:10px;
    margin-left: 360px;

   
}

@media (max-width: 800px){
    .convert{
    
        margin-left: auto;
    }
}

@media (max-width: 800px){
    .h1{
       margin-left: 100px;
    }
}


@media (max-width: 800px){
    .entspricht{
        text-align: center;
        margin-right: 60px;
    }
}

@media (max-width: 800px){
select {
    position: absolute;
}
}
@media (max-width: 800px){
    input{
        text-align: left;
        margin-left: 0px;
        
    
    }
}

.entspricht{
letter-spacing: 2px;
color: rgb(0, 0, 0);
font-size: xx-large;
margin-left: 48px;
    padding: 10px;

}



h1{
text-transform: uppercase;
letter-spacing: 2px;
color: rgb(0, 0, 0);
font-size: xx-large;
text-align: center;
display: block;

}

input, select{
    width: 250px;
    height: 30px;
    border: 5xp solid rgb(3, 3, 34);
    border-radius: 10px;
    
}

select{
    width: 100px;
    margin-left: 10px;
    letter-spacing: 2px;
  
}

span {
color: rgb(0, 0, 0);
font-size: 1em;
font-weight: 700;
font-size:xx-large;
letter-spacing: 2px;

}
footer{
    color: rgb(38, 38, 212);
}


 