<div *ngIf="auth.loggedIn()">
  <div class="header-top">
    <div class="row ">
      <div class="col ml-3">
        <div class="icon">
          <div class="menu-open" (click)='toggleMenu()'><i style="font-size: 20px;" class="fa fa-bars"></i></div>
        </div>
      </div>
      <div class="col-8 align-self-center">
        <div class="text-center title-name" style="color: white">
          <span>{{auth.getUser()?.first_name}} {{auth.getUser()?.last_name}}</span>
          <span *ngIf="walletService.getWallet() != null"> - {{walletService.getWallet().name}}: </span>
          <span *ngIf="walletService.getWallet() != null">{{walletService.getWallet().amount}} €</span>
        </div>
      </div>
      <div class="col mr-3">
        <div class="icon">
          <div class="menu-open float-right" (click)="openUserMenuModal(content)"><i style="font-size: 20px;"
              class="fa fa-sign-out"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="side-menu" [ngClass]="showMenu ? 'active' : ''">
    <div class="side-menu-inner">

      <a routerLink="wallets" routerLinkActive="active">
        <fa-icon [icon]="faWallet" size="3x"></fa-icon><br>
        Meine Wallets
      </a>
      <div *ngIf="walletService.getWallet() != null">
      <a routerLink="statistics" routerLinkActive="active">
        <fa-icon [icon]="faChartPie" size="3x"></fa-icon><br>
        Statistik
      </a>
    </div>
      <a routerLink="converter" routerLinkActive="active">
        <fa-icon [icon]="faConverter" size="3x"></fa-icon><br>
        Währungsrechner
      </a>


      <div class="bottom-menu">
        <img src="assets/images/logo.png">
        <p>HashYourCash</p>
      </div>
    </div>
  </div>

</div>


<ng-template #content let-modal>
  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Benutzermenü</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-secondary btn-block"
      (click)="modalService.dismissAll(); auth.logout(); resetWData()">Ausloggen</button>
  </div>
</ng-template>

<div *ngIf="!(router.url.includes('/login')) && router.url != '/register' && router.url != '/forgotpw'" [className]="contentClass">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="router.url.includes('/login') && !auth.loggedIn()" class="container">
  <app-login></app-login>
</div>
<div *ngIf="router.url === '/forgotpw' && !auth.loggedIn()" class="container">
  <app-forgotpw></app-forgotpw>
</div>
<div *ngIf="router.url === '/register' && !auth.loggedIn()" class="container">
  <app-register></app-register>
</div>
