h1{
  padding-bottom: 10px;
}

a:visited{
  color:white;
}  
  button{
  margin-top: 5px;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
  .allcats {
    display: inline-flex;
  }
  .categories {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    border-radius: 15px;
    width: 50px;
    height: 50px;
  }
 .categories>fa-icon {
   align-self: center;
   color: white;
 }
  .card {
    width: auto;
    height: auto;
  }

.goto:hover {
  background-color: #064d6e;
}
.goto {
  background-color: #085f87;
  border-color:#085f87;
  color: white;
}
.create{
  color: #064d6e;
  border-color: #064d6e;
}
.create:hover {
  color: #fff;
  background-color: #064d6e;
  border-color: #064d6e;
}

.createEnabled:hover:enabled {
  background-color: #064d6e;
}
.createEnabled {
  background-color: #085f87;
  border-color:#085f87;
  color: white;
}

.snackStyle {
color: warn;
}