<div class="container">
<div class="row">
  <div class="col-xl-12">
        <h2>Zahlung hinzufügen</h2>
      
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
          <div class="col-md-6" fxLayout="column wrap">
          <mat-radio-group formControlName="type" required fxLayoutAlign="start">
            <mat-radio-button value="in" (change)="typeChange('in')">
              Einzahlung
            </mat-radio-button>
            <mat-radio-button value="out" (change)="typeChange('out')">
              Auszahlung
            </mat-radio-button>
          </mat-radio-group>
          <br>

          <mat-form-field>
            <mat-label>
              Betrag
            </mat-label>
            <input matInput type="number" formControlName="amount" required class="text-right" step="0.01">
            <span matSuffix>€</span>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>
              Kategorien
            </mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let category of categories" [value]="category.c_id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>
              Zahlungsgrund
            </mat-label>
            <input matInput type="text" formControlName="description">
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill">
            <mat-label>
              Kommentar
            </mat-label>
            <textarea matInput formControlName="comment"></textarea>
          </mat-form-field>

          <div class="actions">
            <button mat-raised-button class="pay" type="submit" [disabled]="!paymentForm.valid">Zahlung
              verbuchen
            </button>
          </div>
        </div>
        </form>
  </div>
</div>
