<div class="row">
  <div class="col-xl-12">
    <div>
      <div class="text-left pt-5 mb-20">
        <h2>Zahlungen hinzufügen</h2>

        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
          <mat-radio-group formControlName="type" required>
            <mat-radio-button value="in">
              Einzahlung
            </mat-radio-button>
            <mat-radio-button value="out">
              Auszahlung
            </mat-radio-button>
          </mat-radio-group>
          <br>

          <mat-form-field>
            <mat-label>
              Betrag
            </mat-label>
            <input matInput type="number" formControlName="amount" required class="text-right" step="0.01">
            <span matSuffix>€</span>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>
              Beschreibung
            </mat-label>
            <input matInput type="text" formControlName="description">
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill">
            <mat-label>
              Kommentar
            </mat-label>
            <textarea matInput formControlName="comment"></textarea>
          </mat-form-field>

          <div class="actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="!paymentForm.valid">Zahlung
              verbuchen
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
