<div class="login-area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="main-wrapper">
                    <div class="text-center pt-5 mb-20">
                        <div class="register-logo">
                            <img [src]=logo>
                        </div>
                        <h2>Registrierung</h2>
                        <form [formGroup]="formData" class="needs-validation" (submit)="submitForm()"
                            [ngClass]="{'was-validated':formValidation == true}">
                            <div class="form-area pt-3">
                                <div class="input-group mb-3">
                                <mat-form-field fxFlex="90">
                                    <mat-label>
                                      Vorname
                                    </mat-label>
                                    <input matInput type="text" formControlName="first_name" required>
                                  </mat-form-field>
                                    <div class="invalid-feedback">
                                        Vorname muss angegeben werden
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <mat-form-field fxFlex="90">
                                        <mat-label>
                                          Nachname
                                        </mat-label>
                                        <input matInput type="text" formControlName="last_name" required>
                                      </mat-form-field>
                                    <div class="invalid-feedback">
                                        Nachname muss angegeben werden
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <mat-form-field fxFlex="90">
                                        <mat-label>
                                          E-Mail Adresse
                                        </mat-label>
                                        <input matInput type="email" formControlName="email" required>
                                      </mat-form-field>
                                    <div class="invalid-feedback">
                                        E-Mail Adresse muss angegeben werden
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <mat-form-field fxFlex="90">
                                        <mat-label>
                                          Passwort
                                        </mat-label>
                                        <input matInput type="password" formControlName="password" required>
                                      </mat-form-field>
                                    <div class="invalid-feedback">
                                        Passwort muss angegeben werden
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <mat-form-field fxFlex="90">
                                        <mat-label>
                                          Passwort wiederholen
                                        </mat-label>
                                        <input matInput type="password" formControlName="confirm_password" required>
                                      </mat-form-field>
                                    <div class="invalid-feedback">
                                        Passwort muss wiederholt werden
                                    </div>
                                </div>
                                <div *ngIf="passwordErr != null" class="alert alert-danger" role="alert">{{passwordErr}}
                                </div>
                                <div *ngIf="emailErr != null" class="alert alert-danger" role="alert">{{emailErr}}</div>
                                <button type="submit" class="btn btn-secondary btn-block">Jetzt registrieren</button>
                                <br>
                                <h3 class="text-center pt-3">Bereits registriert?</h3>
                                <div style="text-align: center">
                                    <a class="text-center pt-3" style="font-size:1.2em;"
                                        [routerLink]="''">...dann kannst du dich hier einloggen </a><i class="fa fa-sign-in"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>